// Colores

$color-fondo: #FAF8FF;
$color-cards: #EDE9F8;
$color-cards-oscuras: #C4B8E8;
$color-texto: #2E2458;
$color-secundario: #6B5F99;
$acento: #FF7700;

//Tipografías

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
    color: $color-texto;
    letter-spacing: 1.5;

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }
}

p,
.p-mediano,
.p-pequeno,
.p-titulo {
    font-family: 'DM Sans', sans-serif;
    color: $color-secundario;

}

.p-titulo {
    font-size: 1.5rem !important;
    color: $color-texto;
}

p {
    font-size: 1.1rem !important;
}

.p-mediano,
main a {
    font-size: 1rem !important;
}

main a {
    color: $acento !important;

    &:hover {
        color: $color-texto !important;
    }
}

.p-pequeno,
header a {
    font-size: 0.8rem;
}

.mt-5 {
    margin-top: 20vh !important;
}

.mt-4 {
    margin-top: 10vh !important;
}

//media queries para todo el tamaño de todas las fuentes
@media (max-width: 1400px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p,
    a {
        font-size: 1rem !important;
    }

    .p-titulo {
        font-size: 1.2rem !important;
    }

    .p-mediano,
    .p-pequeno {
        font-size: 0.9rem !important;
    }
}