@import '_variables.scss';
@import '_mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-fondo;
}


// ── HEADER ──────────────────────────────────────
header {
  padding: 1.25rem 0;
  position: relative;

  .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    a {
      @include logo-style;
    }
  }

  .container {
    .header-inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    nav {
      @include nav-style;

      .icono-idioma {
        height: 22px;
        border-radius: 3px;
        vertical-align: middle;
      }
    }
  }

  @media (max-width: 768px) {
    .btn-menu {
      display: flex;
    }

    nav {
      display: none;
    }
  }
}

// ── Main ──────────────────────────────────────

main {
  a {
    @include link-style;
  }

  .fotomia-main {
    width: 100%;
    max-height: 400px;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.botones-hero {
  gap: 1.875rem;
}

button {
  @include boton-primario;
}

.seccion-proyectos {
  margin-top: 20vh;
}

.container-tecnologias {
  padding: 40px 0;

  .ul-tecnologias {
    list-style: none;
    padding-left: 40px;
    margin: 0;
    position: relative;

    // Línea vertical
    &::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 15px;
      bottom: 15px;
      width: 2px;
      background-color: #2f2a63;
    }
  }

  li {
    font-family: 'DM Sans', sans-serif;
    color: $color-texto;
    margin-bottom: 40px;
    position: relative;

    p {
      color: $color-texto;

      &.active {
        color: $acento;
        font-weight: bold;
      }
    }

    &.active {
      color: $acento;
      font-weight: bold;

      // Círculo naranja
      &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $acento;
        left: -39px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

h2 {
  margin-bottom: 40px;

  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: $acento;
    margin-top: 4px;
  }
}

.tarjeta-proyecto {
  @include tarjeta-proyecto;
}

.background-tecnologias {
  background: url('../assets/img/fondo-tecnologias.png');
  width: 100vw;
}

.tarjeta-tecnologia {
  @include tarjetas-tecnologias;
}

.tarjeta-contacto {
  @include tarjeta-contacto;
}

.campo-contacto-row {
  margin-top: 40px;
}

.footer-texto {
  @include footer-style;
}